.macro-result {
  min-height: 90vh;
  padding: 2rem;
  background-color: #1f2937;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 2rem;
  color: #38bdf8;
  margin-bottom: 1rem;
}

.food-name {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.food-image {
  width: 220px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 10px #000;
}

.macro-table {
  width: 100%;
  max-width: 400px;
  background-color: #111827;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.macro-row {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
  border-bottom: 1px solid #374151;
  font-size: 1.1rem;
}

.macro-row:last-child {
  border-bottom: none;
}

.food-link {
  background: none;
  border: none;
  color: #1d4ed8; 
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
}
.food-link:hover {
  color: white; 
}

.back-btn {
  padding: 0.8rem ;
  width : 30%;
  align-self: center;
  background-color: #10b981;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #1e40af;
}
